[Unit]
Description=Mac Fan Controller (Quiet Idle, Full Load)
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/macfan
Restart=always

[Install]
WantedBy=multi-user.target
